
.timerontent{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px auto 0;
}
.outSystem{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    opacity: 0.8;
}
.outSystem:hover{
    opacity: 1;
}
.outSystem img{
    display: block;
    width: 100%;
    height: 100%;
}
.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: url(../i/timg1.jpg);
    background-size: cover;
}
.loadModel, .dragModel{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #20293a;
    z-index: 99999999999999;
}
.dragModel{
    background: rgba(0, 0, 0, 0.8);
}
.dragModel p{
    width: 350px;
    height: 350px;
    margin: 30px auto 0;
    border: 1px dashed #5bf4fd;
    line-height: 350px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 50%;
    color: #5bf4fd;
    user-select: none;
}
.dragModel.cur p{
    box-shadow: 0 0 20px #5bf4fd;
}

.load {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 50px #2778d8;
    animation: glowmation 10s linear infinite;
}
.load .moveCont {
    width: 100%;
    height: 100%;
    background: #20293a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 0 10px #2778d8 inset;
    animation: text 10s ease infinite;
}

/***************nav*******************/
.nav{
    text-align: center;
    padding-top: 50px;
}
.nav .list{
    display: inline-block;
    width: 250px;
    height: 220px;
    background: url(../i/fn_1.png);
    background-size: cover;
    color: #00BAF1;
    margin: 0 20px;
}
.nav .list p{
    text-align: center;
    font-size: 18px;
    margin-top: 240px;
}
.nav .list:hover{
    color: #00fede;
}
.nav .fn_1:hover {
    background: url(../i/fn_1_h.png);
    background-size: cover;
}
.nav .fn_2 {
    background: url(../i/fn_2.png);
    background-size: cover;
}
.nav .fn_2:hover {
    background: url(../i/fn_2_h.png);
    background-size: cover;
}
.nav .fn_3 {
    background: url(../i/fn_3.png);
    background-size: cover;
}
.nav .fn_3:hover {
    background: url(../i/fn_3_h.png);
    background-size: cover;
}
.moveUpDownFla1 {
    animation: moveUpDown 5s ease infinite;
}

.moveUpDownFla2 {
    animation: moveUpDown1 5s ease infinite;
}
.moveUpDownFla3 {
    animation: moveUpDown 4s ease infinite;
}


/**********************************/

@keyframes moveUpDown{
    0% {
        transform: translate(0px,-20px);
    }
    50% {
        transform: translate(0px,20px);
    }
    100% {
        transform: translate(0px,-20px);
    }
}
@keyframes moveUpDown1{
    0% {
        transform: translate(0px, 20px);
    }
    50% {
        transform: translate(0px,-20px);
    }
    100% {
        transform: translate(0px, 20px);
    }
}
@keyframes glowmation {
    0% {
        box-shadow: 0 0 80px #297ff1;
    }
    12.5% {
        box-shadow: 0 0 70px #2bb9ef;
    }
    25% {
        box-shadow: 0 0 60px #416ff9;
    }
    37.5% {
        box-shadow: 0 0 70px #26385a;
    }
    50% {
        box-shadow: 0 0 80px #21758a;
    }
    62.5% {
        box-shadow: 0 0 70px #4059c8;
    }
    75% {
        box-shadow: 0 0 60px #307cbe;
    }
    87.5% {
        box-shadow: 0 0 80px #3f5bc6;
    }
    100% {
        box-shadow: 0 0 70px #3670c3;
    }
}
@keyframes text {
    0% {
      color: #7400f9;
    }
    50% {
      color: #00fcbd;
    }
    100% {
      color: #7400f9;
    }
}
  